* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: #ededed;
}

.sidemenu {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 20vw;
    display: flex;
    justify-content: space-between;
    background: #c0c0c0;
    z-index: 100;
    transition: .2s ease;
}

.sidemenu--hidden {
    right: calc(-20vw + 15px);
}

.sidemenu-items-wrapper {
    padding: 15px;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    flex: 1;
}


.sidemenu-item {
    width: 30%;
    height: fit-content;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.sidemenu-item:hover {
    background: #adadad;
}

.sidemenu-item__icon {
    max-width: 60%;
    margin-bottom: 5px;
}

.sidemenu-item__title {
    font-size: 11px;
    text-align: center;
}

.sidemenu-hook {
    width: 15px;
    height: 100%;
    background: #4b4b4b;
    cursor: pointer;
}

#dos {
    display: none;
    width: 100vw;
    height: 100vh;
}